altgraph                  0.17.2  
autopep8                  1.6.0   
cx-Freeze                 6.10    
cx-Logging                3.0     
future                    0.18.2  
importlib-metadata        4.11.3  
lief                      0.12.1  
pefile                    2021.9.3
pi                        0.1.2   
pip                       22.1    
pycodestyle               2.8.0   
pyinstaller               5.0.1   
pyinstaller-hooks-contrib 2022.5  
pytube                    12.1.0
pywin32-ctypes            0.2.0
setuptools                58.1.0
toml                      0.10.2
wheel                     0.37.1
zipp                      3.8.0